---
title: Multiple Posts
section: Blog
description: Example of using an associative array in YAML front matter to embed multiple gists on one page.

gists: ['5898072', '5898077']
---
<blockquote cite="http://assemble.io">
  <p>{{{description}}}</p>
</blockquote>

{{#markdown}}

Gists were embedded using the `\{{gist}}` helper from the [handlebars-helpers](https://github.com/assemble/handlebars-helpers) library.

{{/markdown}}

<br>

{{#each gists}}
  {{gist this}}
{{/each}}
